@import "base/mixins";
@import "base/variablles";

@import "libs/normalize";

@import "blocks/promo";
@import "blocks/contacts";
@import "blocks/basket";
@import "blocks/header";
@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/gallery";
@import "blocks/about";
@import "blocks/forms";
@import "blocks/select";
@import "blocks/checkbox";
@import "blocks/consultation";
@import "blocks/footer";
@import "blocks/pageup";
@import "blocks/cart";
@import "blocks/modal";
@import "blocks/succes";

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
input, a, button {
    cursor: pointer;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 991px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: 540px;
    }
}

@media (max-width: 575px){
    .container{
        max-width: auto;
    }
}