.basket {
    display: flex;
    align-items: center;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        background-color: #000;
        border-radius: 100%;
        padding-right: 3px;
        img {
            width: 18px;
            height: 18px;
        }
    }
    &__sum {
        margin-left: 12px;
    }
    &__arrow {
        font-size: 16px;
        margin: 0 0 6px 4px;
    }
}