.checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 11px 0 0 15px;
    &__check {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__mark {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #999999;
        a {
            color: #999999;
            text-decoration: none;
            border-bottom: 1px solid rgba($color: #fff, $alpha: .4);
            padding-top: 2px;
        }
    }
    &__check ~ &__mark {
        display: flex;
        align-items: center;
        user-select: none;
    }
    &__check ~ &__mark::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #999999;
        border-radius: 3px;
        margin-right: 13px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    &__check:checked ~ &__mark::before {
        border-color: #000;
        background-color: #fff;
        background-image: url("../../images/consultation/check.svg");
    }
}