.consultation {
    min-height: 850px;
    padding: 135px 0 170px 0;
    background: url('../../images/consultation/background.jpg') center center/cover no-repeat;
    &__wrapper {
        display: flex;
        align-items: flex-end;
    }
}