.contacts {
    &__icon {
        font-size: 17px;
        line-height: 20px;
    }
    &__phone {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        text-decoration: none;
        margin-left: 8px;
    }
    &_white {
        &__icon {
            color: #fff;
        }
        &__phone {
            color: #ffffff;
        }
    }
}