.feed-form {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 70px;
    div {
        display: flex;
        flex-direction: column;
        #message-error {
            margin-bottom: 34px;
        }
    }
    .checkbox {
        flex-direction: row;
        label.error {
            order: 2;
            margin: 0 0 0 15px;
        }
    }
    &__input {
        width: 370px;
        height: 40px;
        padding: 0 0 15px 5px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        margin: 0 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        margin-top: 40px;
    }
    &__textarea {
        width: 770px;
        height: 134px;
        background: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 60px 0 34px 15px;
        border: none;
        border-bottom: 1px solid #fff;
        resize: none;
        &.error {
            margin-bottom: 0;
        }
    }
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}

.error, select.error {
    border: 1px solid red;
}
label.error {
    border: none;
    font-size: 12px;
    margin: 5px 0 10px 0;
    text-align: center;
    color: red;
}