.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 430px;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 40px;
    &__close {
        position: absolute;
        top: 2%;
        right: 4%;
        font-size: 60px;
        line-height: 60px;
        color: $pink-color;
        cursor: pointer;
    }
    &__item {
        margin-top: 30px;
    }
    &__stats {
        margin-top: 10px;
        &-title, &-descr, &-age, &-reward, &-price {
            font-weight: 700;
            font-size: 18px;
            &-value {
                margin-left: 10px;
                font-size: 17px;
                font-weight: 500;
                color: #3f3f3f;
            }
        }
        &-price {
            &-value {
                border-bottom: 1px solid #000;
                color: #000;
                font-size: 18px;
            }
        }
    }
    &__footer {
        @include displayFlexSpaceBetween;
        align-items: center;
        margin-top: 35px;
    }
    &__buy-link {
        text-decoration: none;
    }

    .succes {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
    }

    //gallery
    
    &_gallery {
        width: 65%;
        height: 85%;
        padding: 0;
        border-radius: 15px;
    }

    //cart

    &_cart {
        width: 30%;
        min-height: 30%;
        padding: 40px;
        border-radius: 15px;
        max-height: 90%;
        overflow: scroll;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        /* хром, сафари */
        &::-webkit-scrollbar { width: 0; }
        &__wrapper {
            display: flex;
            align-items: center;
            margin-top: 40px;
            &:last-child {
                justify-content: space-between;
                margin: 0;
                height: 60px;
            }
        }
        &__total {
            font-size: 22px;
            font-weight: 600;
        }
        &__total-num {
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
        }
    }
}

#galleryPhoto, #modalCart {
    display: none;
}