.pageup {
    display: none;
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 100000000;
    i {
        color: $pink-color;
        font-size: 70px;
        line-height: 70px;
    }
}

@media (max-width: 1200px) {
    .pageup {
        right: 70px;
        bottom: 70px;
    }
}
@media (max-width: 991px) {
    .pageup {
        right: 50px;
        bottom: 100px;
    }
}
@media (max-width: 767px) {
    .pageup {
        right: 40px;
        bottom: 90px;
        i {
            font-size: 60px;
        }
    }
}
@media (max-width: 575px) {
    .pageup {
        right: 20px;
        bottom: 80px;
        i {
            font-size: 50px;
        }
    }
}