.promo {
    position: relative;
    min-height: 100vh;
    padding-top: 60px;
    background: #0093E9;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    z-index: 0;
    &__img {
        position: absolute;
        max-height: 95vh;
        max-width: 70vw;
        bottom: 0;
        right: 0;
        z-index: -10;
    }
    &__content {
        width: 40%;
        margin-top: 172px;
    }
}