.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 370px;
    height: 40px;
    padding: 0 0 15px 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 40px 0 0 15px;
    background: url('../../images/consultation/select-arrow.svg') 97% 30% no-repeat;
    background-size: 4%;
    &__option {
        background-color: transparent;
        color: #000;
        font-weight: 500;
        &:nth-child(1) {
            font-weight: 800;
        }
    }
}